.color-block
    {
        margin: 1px;
        border: solid 1px black;
        height: 245px;
        width: 225px;
        background: none;
    }
    .dhead
    {
        height: 20px;
        width: inherit;
        background: #dc143c;
     }
     #body1,#body2,#body3,#body4
     {
         display: none;
         height: 225px;
         width: 225px;
     }
     #body1{
         background: #e9e60e;
     }
     #body2
     {
         background: #001eff;
     }
     #body3
     {
         background: #a800ff;
     }
     #body4
     {
         background: #e2d1eb;
     }
     body {
        display: flex;
     }

